@charset "UTF-8";

.blog-footer {
    padding: 1.5rem 0;
    color: black;
    text-align: center;
    background: gray;
    font-size: 20px;
    border-top: 0.3rem solid black;
    width: 100%; 
  }
  .blog-footer p:last-child {
    margin-bottom: 500;
    
  }
