/target/
# Local configuration file (sdk path, etc)
local.properties
# Log Files
*.log
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/br.com.compreseujogo/compreseujogo_3.0/pom.properties
*.MF
*.properties
